@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.primary-color {
  color: var(--primary-color) !important;
}

.active-menu {
  backdrop-filter: brightness(1.2);
}

.a-btn {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  border-radius: 7px;
  color: var(--white-color);
  background: var(--primary-color);
  cursor: pointer;
}

.link-hover {
  transition: backdrop-filter, filter, color, background, background-color, box-shadow, border;
  transition-duration: 0.5s;
}

.link-hover:hover,
link-hover:focus {
  filter: brightness(1.2);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--white-color);
  background: var(--primary-color);
  cursor: default;
}

.menu-nav {
  flex-direction: column;
}

.menu-nav-links {
  display: flex !important;
}

.menu-nav-img {
  content: url(../img/close.png);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

nav ul li {
  padding: 10px 10px;
  font-weight: 300;
  list-style: none;
  cursor: pointer;
  transition: backdrop-filter, filter, color, background, background-color;
  transition-duration: 0.5s;
}

nav ul li:hover {
  backdrop-filter: brightness(1.2);
}

.logo {
  padding: 10px 10px;
  font-weight: bold;
  background: unset;
  cursor: pointer;
}

.menu-btn>img {
  display: none;
  margin: 2px 10px;
  width: 2.0rem;
  filter: invert(1);
  cursor: pointer;
}

@media screen and (max-width: 550px) {

  nav ul {
    flex-direction: column;
  }

  nav ul li:hover {
    backdrop-filter: none;
  }

  .menu-btn>img {
    display: unset;
  }

  nav {
    flex-direction: row;
  }

  #navLinks {
    display: none;
  }

}

main {
  flex: 1;
  padding: 2.2rem;
  color: var(--black-color);
  background: var(--white-color);
  cursor: default;
}

footer {
  padding: 4px 10px;
  text-align: center;
  font-weight: 300;
  color: var(--white-color);
  background: var(--primary-color);
  cursor: default;
}

hr {
  opacity: 0.5;
  border-color: var(--white-color);
}