.imp {
    position: relative;
}

.imp:after {
    content: "IMP";
    position: absolute;
    top: 0.2rem;
    font-weight: 600;
    color: blue;
    transform: rotate(315deg);
    animation: blink 1s step-end infinite;
}

.new {
    position: relative;
}

.new:after {
    content: "New";
    position: absolute;
    top: 0.2rem;
    font-weight: 600;
    color: red;
    transform: rotate(315deg);
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

.flex-cen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.headline {
    padding-bottom: 5px;
}

.headline>h2 {
    text-align: center;
    font-weight: 400;
    line-height: 2.2rem;
    background: linear-gradient(90deg, transparent, var(--grey-color), transparent);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 4px 2px;
    padding: 2px 2px;
    min-width: fit-content;
    width: 100%;
    border: 2px solid var(--grey-color);
    border-radius: 20px;
    transition: border 0.5s;
}

.box:hover {
    border-color: var(--primary-color);
}

.box>div {
    margin: 2px 2px;
    padding: 2px 2px;
}

.box-img {}

.box-img>img {
    width: 4.5rem;
    cursor: pointer;
    transition: transform 0.5s;
}

.box-img>img:hover {
    transform: scale(1.2);
}

.box-txt {
    padding-left: 1rem !important;
}

.box-txt>* {
    align-self: start;
}

.box-txt>h6 {
    font-size: x-large;
    font-weight: 400;
}

.box-txt>p {
    font-size: large;
}

.box-link {}

.box-link>a {
    margin: 2px 2px;
    padding: 4px 20px;
    font-size: large;
    font-weight: 400;
    text-decoration: none;
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.box-link>a:hover {
    filter: brightness(1.2);
}